<!DOCTYPE html>
<html>
<head>
    <title>Career Path Prediction</title>
</head>
<body>
    <h1>Find Your Best Career Path</h1>
    <form action="/predict" method="post">
        <label>Do you enjoy working with numbers? (yes/no)</label><br>
        <input type="text" name="Do you enjoy working with numbers? Yes" required><br><br>

        <label>Are you more creative or analytical? (yes/no)</label><br>
        <input type="text" name="Are you more creative or analytical? Yes" required><br><br>

        <label>Do you prefer working in a team? (yes/no)</label><br>
        <input type="text" name="Do you prefer working in a team? Yes" required><br><br>

        <label>Do you like to go to the office? (yes/no)</label><br>
        <input type="text" name="Do you like to go to the office? Yes" required><br><br>

        <label>Do you have an interest in creating content? (yes/no)</label><br>
        <input type="text" name="Do you have an interest in creating content? Yes" required><br><br>

        <label>Do you likre subjects teach in school? (yes/no)</label><br>
        <input type="text" name="Do you likre subjects teach in school? Yes" required><br><br>

        <label>Are you good at problem-solving? (yes/no)</label><br>
        <input type="text" name="Are you good at problem-solving? Yes" required><br><br>

        <label>Do you enjoy helping others? (yes/no)</label><br>
        <input type="text" name="Do you enjoy helping others? Yes" required><br><br>

        <label>Are you interested in healthcare? (yes/no)</label><br>
        <input type="text" name="Are you interested in healthcare? Yes" required><br><br>

        <label>Do you like to travel? (yes/no)</label><br>
        <input type="text" name="Do you like to travel? Yes" required><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>
